<h1>Home page</h1>

Here is some stuff

<div id="main"></div>

<script id="appViewTemplate" type="template/underscore">
  <h1>Secrets</h1>

  <div id="secretForm">
    form goes here
  </div>

  <ul id="secrets">
    <li>
      Secrets go here
    </li>
  </ul>
</script>